/*** CSS Reset - version 1.2.0 ***/
:root {
  --background-front-color: #e1efe6;
  --background-back-color: #aeb7b3;
  --text-color: #efcb68;
  --generator-background-color: #160c28;
}

*:where(:not(input, iframe, canvas, img, svg, video):not(svg *)) {
  all: unset;
  display: revert;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
}

table {
  border-collapse: collapse;
}

textarea {
  white-space: revert;
}

/*** Main CSS ***/

/** Background settings **/
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
}
.background {
  width: 100%;
  position: fixed;
  top: 0;
}
.background--front {
  height: 50vh;
  background-color: var(--background-front-color);
  z-index: -1;
}
.background--back {
  height: 100vh;
  background-color: var(--background-back-color);
  z-index: -2;
}

/** Generator styles **/
table {
  min-width: 75vw;
}
th {
  text-align: center;
  cursor: pointer;
  background-color: rgb(202, 202, 202);
}
tr {
  text-align: center;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
tr:nth-child(odd) {
  background-color: #e2e2e2;
}
tr:hover {
  background-color: #ddd;
}
td,
th {
  border: 1px solid #ddd;
  padding: 8px;
}

@media only screen and (max-width: 600px) {
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
    width: 95vw;
  }

  table {
    margin: 20px 0;
  }
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    border: 1px solid #ccc;
  }

  td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }

  td:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  td:nth-of-type(1):before {
    content: "First Name";
  }
  td:nth-of-type(2):before {
    content: "Last Name";
  }
  td:nth-of-type(3):before {
    content: "Country";
  }
  td:nth-of-type(4):before {
    content: "Registration Date";
  }
  thead::before {
    content: "Sort by:";
    position: absolute;
    top: 10px;
    transform: translateX(-50%);
    left: 50%;
    z-index: 500;
    height: 25px;
  }
  thead tr {
    position: absolute;
    height: 150px;
    top: 40px;
    left: 0px;
    margin: auto;
    width: 100%;
  }
  th {
    width: 100%;
  }
  tbody {
    margin-top: 190px;
  }
}

@media only screen and (max-width: 300px) {
  table,
  thead,
  tbody,
  td,
  tr {
    display: block;
    width: 95vw;
  }
  thead tr {
    position: absolute;
    height: 150px;
    top: 40px;
    left: 0px;
    margin: auto;
    width: 100%;
  }
  td:nth-of-type(1):before {
    content: "";
  }
  td:nth-of-type(2):before {
    content: "";
  }
  td:nth-of-type(3):before {
    content: "";
  }
  td:nth-of-type(4):before {
    content: "";
  }

  th {
    width: 100%;
  }
  td {
    padding-left: 0%;
  }
  tbody {
    margin-top: 190px;
  }
  thead::before {
    content: "Sort by:";
    position: absolute;
    top: 10px;
    transform: translateX(-50%);
    left: 50%;
    z-index: 500;
    height: 25px;
  }
}
